<!DOCTYPE html>
<html>
<head>
	<title>Add Rose Items</title>
</head>
<div class="basic" >
		{% include "rationshopheader.html" %}
	</div>
<body>
	<form action="addritems1" method="POST">
	{%csrf_token%}
	<input type="text" placeholder="Item_id" name="ritem_id"/><br>
	<input type="text" placeholder="Items" name="ritem"/><br>
	<input type="text" placeholder="Quantity" name="rquantity"/><br>
	<input type="submit" name="btn" value="Add Items">
	{{msg1}}
	{{msg2}}
</form>
</body>
</html>