<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{% static 'table1.css' %}" >
        

    </head>

    <div class="basic" >
		{% include "publicheader.html" %}
	</div>

    <body>
        <table id="customers">
            <tr>  
                <th></th>
                <th>DOCUMENTS</th>  
                
            </tr>           
            <tr>  
                <td><b>1</b></td>
                <td><b>Rtion card application form</b></td>
            </tr>
            <tr>  
                <td><b>2</b></td>
                <td><b>Certificate from Ward Councillor in the prescribed format to be submitted </b></td>
            </tr>
            <tr>  
                <td><b>3</b></td>
                <td><b>Date of the birth proof-Birth certificate or SSLC book can submitted </b></td>
            </tr>
           
             <tr>  
                <td><b>4</b></td>
                <td><b>Identity proof-Adhaar card,Voter ID,PAN card or Passport can be submitted</b></td>
            </tr>
           <tr>  
                <td><b>5</b></td>
                <td><b>Passport size photoraph of the family head</b></td>
            </tr>
           
           
           
        </table>
    </body>
</html>