<!DOCTYPE html>
<html>
<head>
	<title>Special items</title>
	{%load static%}
        <link rel="stylesheet" href="{% static 'table1.css' %}" >

</head>
<div class="basic" >
		{% include "customerheader.html" %}
	</div>
<body>
	
	<form action="spclkititdis1">
<table id="customers">
	 <tr>
	 	<th>ITEMS</th>
	 	<th>QUANTITY</th>
	 </tr>
	 {% for i in spit%}
	 <tr>
	 	<td>{{i.apkitem}}</td>
	 	<td>{{i.spkquantity}}</td>
	 </tr>
	 {% endfor %}

</table><br>
</form>

</body>
</html>