<!DOCTYPE html>
<html>
<head>
	<title>Verify Complaint</title>
	{%load static%}
        <link rel="stylesheet" href="{% static 'table1.css' %}" >

</head>
<div class="basic" >
		{% include "rationshopheader.html" %}
	</div>
<body>
	
<form action="viewmem1">
<table id="customers">
	 <tr>
	 	<th>Customer_id</th>
	 	<th>Src_no</th>
	 	<th>Name</th>
	 	<th>Age</th>
	 	<th>Address</th>
	 	<th>Total_members</th>
	 	<th>Contact</th>
	 	<th>Email</th>
	 {% for i in mem%}
	 <tr>
	 	<td>{{i.customer_id}}</td>
	 	<td>{{i.src_no}}</td>
	 	<td>{{i.name}}</td>
	 	<td>{{i.age}}</td>
	 	<td>{{i.address}}</td>
	 	<td>{{i.total_members}}</td>
	 	<td>{{i.contact}}</td>
	 	<td>{{i.email}}</td>
	 	
	 	
	  {% endfor %}	
	 </tr>
	 

</table><br>
</form>

</body>
</html>